/.idea/

/site/

/docker-compose.env.local
/docker-compose.yml
/docker-compose.config.sh

/config/cli/php5/timezone.ini
/config/apache/php5/timezone.ini
/config/solr/*/data/*
!/config/solr/*/.gitkeep

/data/mysql/*
/data/solr/*
/data/cli/*
!/data/mysql/.gitkeep
!/data/solr/.gitkeep
!/data/cli/.gitkeep

/logs/apache/*
/logs/cli/*
/logs/memcache/*
/logs/mysql/*
/logs/solr/*
/logs/varnish/*
!/logs/apache/.gitkeep
!/logs/cli/.gitkeep
!/logs/memcache/.gitkeep
!/logs/mysql/.gitkeep
!/logs/solr/.gitkeep
!/logs/varnish/.gitkeep
